@model AddBalanceViewModel
@{
    ViewBag.Title = "Edit";
}
<h1>Edit</h1>
<hr />
<form asp-action="AddBalance" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Balance" class="control-label">Balance</label>
        <input type="number" asp-for="Balance" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
    <hr />
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to personal account</a>
</div>
</form>