@model EditAccountViewModel
@{
    ViewBag.Title = "Edit";
}
<h1>Edit</h1>
<hr />
<form asp-action="Edit" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">FirstName</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Surname</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TimeZone" class="control-label">TimeZone</label>
        <select asp-for="TimeZone" asp-items="@Model.TimeZones" class="form-control" ></select>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
    <hr />
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to personal account</a>
</div>
</form>